<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" href="../../static/admin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../static/admin/css/admin.css" />
	</head>

	<body>
		<div class="layui-tab page-content-wrap">
			<ul class="layui-tab-title">
				<li class="layui-this">数据备份</li>
				<li>数据恢复</li>
				<li>初始化</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<form class="layui-form" style="width: 90%;padding-top: 20px;">

						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn layui-btn-normal" lay-submit lay-filter="siteInfo">立即备份</button>
							</div>
						</div>
					</form>
				</div>
				<div class="layui-tab-item">
					<form class="layui-form" style="width: 90%;padding-top: 20px;">

						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn layui-btn-normal" id="upload_data" lay-submit lay-filter="emailInfo">立即恢复</button>
							</div>
						</div>
					</form>
				</div>
				<div class="layui-tab-item">
					<form class="layui-form" style="width: 90%;padding-top: 20px;">

						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn layui-btn-normal" lay-submit lay-filter="commentInfo">立即初始化</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="../../static/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script>
			//Demo
			var rootPath = "/";
			layui.use(['form', 'element','jquery','upload'], function() {
				var form = layui.form;
                var upload = layui.upload;
				var $ = this.$;
				var element = layui.element;
				form.render();
                var uploadInst = upload.render({
                    elem: '#upload_data' //绑定元素
                    ,url: '/proItem/import' //上传接口
					,exts: 'xls'
                    ,done: function(res){
                        //上传完毕回调
						layer.msg("恢复数据成功")
                    }
                    ,error: function(){
                        //请求异常回调
						layer.msg("恢复失败")
                    }
                });
				//监听信息提交
				form.on('submit(siteInfo)', function(data) {
					// layer.msg(JSON.stringify(data.field));
                    window.location.href = rootPath + "proItem/export?" + $("#dataForm").serialize()
					return false;
				});
				//监听seo提交
				form.on('submit(seoInfo)', function(data) {
					// layer.msg(JSON.stringify(data.field));
					return false;
				});
				//监听seo提交
				form.on('submit(emailInfo)', function(data) {
					// layer.msg(JSON.stringify(data.field));
					return false;
				});
				//监听评论提交
				form.on('submit(commentInfo)', function(data) {
					// layer.msg(JSON.stringify(data.field));
					$.get("/proItem/init",function (jd) {
						console.log(jd);
						if(jd.code == "0"){
						    layer.msg("初始化成功");
						}else{
						    layer.msg("初始化失败")
						}
                    })
					return false;
				});
			});
		</script>
	</body>

</html>