<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="share/common"></div>
</head>
<body class="body-common">
<div class="page-container">
    <form class="layui-form layui-form-pane" action="">
        <input type="hidden" name="id" th:value="${pro_course.id }" />

                <div class="layui-form-item">
                    <label class="layui-form-label">课程名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" id="name" maxlength="255" lay-verify="required" autocomplete="off"
                               placeholder="请输入课程名称" class="layui-input" th:value="${pro_course.name}" >
                    </div>
                </div>
            <div class="layui-form-item">
                <label class="layui-form-label">学分</label>
                <div class="layui-input-block">
                    <input type="number" name="score" id="score" maxlength="10" lay-verify="number" autocomplete="off"
                           placeholder="请输入学分" class="layui-input" th:value="${pro_course.score}" >
                </div>
            </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">获得时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="gettime" id="gettime" autocomplete="off" class="layui-input" lay-verify="required"
                               th:value="${pro_course.gettime_}">
                    </div>
                </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">请选择学生</label>
            <div class="layui-input-block">

                <select name="userId" id="userId">
                    <option value="">请选择学生</option>
                    <option th:value="${u.id}" th:each="u:${users}" th:selected="${pro_course.userId==u.id}" th:text="${u.truename}"></option>
                    <!--<option value="1" th:selected="${pro_item.itype==1}">支出</option>-->
                </select>
            </div>
        </div>

            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">学生ID</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<input type="number" name="userId" id="userId" maxlength="19" lay-verify="number" autocomplete="off"-->
                           <!--placeholder="请输入学生ID" class="layui-input" th:value="${pro_course.userId}" >-->
                <!--</div>-->
            <!--</div>-->
        <div class="layui-form-item" style="text-align: center">
            <span th:if="${session.userAuth==null || #maps.containsKey(session.userAuth,'proCourse/save')}">
            <button class="layui-btn" lay-submit="" lay-filter="save-data">提交</button>
            </span>
            <input type="button" class="layui-btn"  onclick="myback()" value="返回" />
        </div>
    </form>
</div>
<!--
<script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>-->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
        form.render();


           laydate.render({
               elem: '#gettime'
               , type: 'datetime'
           });

        //自定义验证规则
        form.verify({});

        //监听提交
        form.on('submit(save-data)', function (data) {
            $.post(rootPath+"proCourse/save",data.field,function (data) {
                if(data.code==0){
                    myAlert("保存成功");
                    setTimeout(function () {
                        myback("proCourse/gotoList");
                    },alertTime)
                }else{
                    myAlert("保存失败->"+data.message)
                }
            });
            return false
        });

    });
</script>

</body>
</html>